* {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
a {
    color: #2781ba !important; 
}
.logo-pd {
    padding: 30px 10px 20px 10px;
}
.menu-nav {
    padding: 30px 80px 30px 25px !important;
}
.menu-nav-a {
    font-size: 1.2em !important;
    font-variant-caps: all-petite-caps;
}
.fundo-home {
    /* background-image: url('../src/imagens/fundo.jpg'); */
    height: 100%;
    margin-bottom: 0;
    padding: 10px 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-left: 6px solid #007bff !important;
    background-color: #f5f7f7 !important;
    color: #143270 !important;
}
.nav-pills .nav-link {
    border-radius: 0 !important;
    background-color: #fff !important;
}
.nav-link:focus, .nav-link:hover {
    background-color: #f5f7f7 !important;
}
.fundo-col {
    background-color: #2781ba;
}
.navbar {
    padding: 0 !important;
}
.col-2 {
    padding-left: 0 !important;
}
.faixa-top-p{
    margin-top: 50px;
}
@media screen and (max-width: 415px) {
    .faixa-top{
        display: none;
    }
}
.sem-padding-left {
    padding-left: 0 !important;
}
.texto-menor {
    font-size: 1.10rem !important;
    font-weight: lighter !important;
}
@media screen and (min-width: 415px) {
    .texto-footer {
        margin-left: 105px;
    }
}
@media screen and (max-width: 415px) {
    .nav-card{
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 415px) {
    .nav-card{
        margin-left:15px;
    }
}