a {
    color: #2781ba !important; 
}
.logo-pd {
    padding: 30px 10px 20px 10px;
}
.menu-nav {
    padding: 30px 25px !important;
}
.menu-nav-a {
    font-size: 1.2em !important;
    font-variant-caps: all-petite-caps;
}
.fundo-home {
    /* background-image: url('../src/imagens/fundo.jpg'); */
    height: 100%;
    margin-bottom: 0;
    padding: 10px 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-left: 4px solid #007bff !important;
    background-color: #f5f7f7 !important;
    color: #000 !important;
}
.nav-pills .nav-link {
    border-radius: 0 !important;
}
.nav-link:focus, .nav-link:hover {
    background-color: #f5f7f7 !important;
}
.fundo-col {
    background-color: #2781ba;
}
.fonte-branca {
    color: #fff;
}
.navbar {
    padding: 0 !important;
}
.col-2 {
    padding-left: 0 !important;
}